.errorContainer {
  background-color: #ff6161;
  color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;

  span {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 10px;
  }

  ul {
    list-style: square!important;
    padding: 5px;
    margin-left: 20px;

    li {
      margin-bottom: 10px;
    }
  }
}
